.FQ-catigores
{
    width: 99vw;
    height: 100vh;
    display: flex;
    background-color: rgb(233, 246, 252);
    position: relative;
}
.FQ-catigores .left-fq-desc
{
    width: 50%;
    margin: auto 10%;
}
.FQ-catigores .left-fq-desc h2
{
    font-size: 3rem;
    color: blue;
    margin: 40px 0;

}
.FQ-catigores .left-fq-desc p
{
    font-size: 1.2rem;
    color: rgb(85, 83, 83);
    margin: 40px 0;
    width: 50%;
}
.FQ-catigores .left-fq-desc i
{
    font-size: 1.6rem;
    padding-right: 5px;
}
.right-fq-photo
{
    background-image: url(./../../assets/img/teatcher.jpg);
    width: 40%;
    height: 98%;
    background-size: cover;
    position: absolute;
    right: 30px;
    top: -40px;
}
.FQ-catigores .left-fq-desc button
{
    font-size: 1rem;
    padding: .6rem 1.2rem;
    border-radius: 5rem;
    border: none;
    color: white;
    background-color: rgb(0, 183, 255);
    font-weight: 600;
}

